.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks{
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 5px;
}
.reset{
    width: 80px;
    height: 40px;
    font-size: 1.4rem;
    cursor: pointer;
}
.row{
    display: flex;
}

